
<div class="d-sm-flex align-items-center justify-content-between ml-3 ">
    <h1 class="h3 mb-5 text-gray-800">Tests</h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between ml-3 ">
    <div>
        <a class="btn btn-primary" routerLink="create">Create</a>
    </div>
</div>

<div class="custom-card">
    <div class="card-header">
      <h3 class="card-title"> Simple Card </h3>
      <div class="card-actions">
        <button pButton icon="pi pi-eye" class="p-button-text p-button-rounded"></button>
        <button pButton icon="pi pi-pencil" class="p-button-text p-button-rounded"></button>
        <button pButton icon="pi pi-trash" class="p-button-text p-button-rounded"></button>
      </div>
    </div>
    <p class="card-description"> Lorem ipsum dolor
         sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
         cupiditate neque quas!</p>
    <div class="card-footer">
      <span class="card-duration">Durée: duree </span>
    </div>
  </div>