<div class="d-sm-flex align-items-center justify-content-between ml-3">
  <h1 class="h3 mb-5 text-gray-800">Tests</h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between ml-3">
  <div>
      <a class="btn btn-primary" routerLink="create">Create</a>
  </div>
</div>


<div *ngFor="let test of tests" class="custom-card mt-4">
  <div class="card-header">
      <h3 class="card-title">{{ test.titre }}</h3>
      <div class="card-actions">
          <button pButton icon="pi pi-eye" class="p-button-text p-button-rounded" ></button>
          <button pButton icon="pi pi-pencil" class="p-button-text p-button-rounded" [routerLink]="['/admin/admin-dashboard/test/edit', test.id]" ></button>
          <button pButton icon="pi pi-trash" class="p-button-text p-button-rounded" (click)="openDeleteModal(test)"></button>
      </div>
  </div>
  <p class="card-description">{{ test.description }}</p>
  <div class="card-footer">
      <span class="card-duration">Durée: {{ test.duree }}</span>
  </div>
</div>


<p-dialog header="Confirm Deletion" [(visible)]="showModal" [closable]="false" [modal]="true">
  <p>Are you sure you want to delete the test <strong>{{ testToDelete?.titre }}</strong>?</p>
  <p-footer>
      <button type="button" pButton icon="pi pi-times" label="No" class="p-button-text" (click)="cancelDelete()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" class="p-button-text" (click)="confirmDelete()"></button>
  </p-footer>
</p-dialog>
