<footer class="footer">
    <div class="footer-content">
      <h2 class="footer-heading">UPSKILL FOR A BETTER FUTURE</h2>
      <h3 class="footer-subheading">Request More Information</h3>
      <p class="footer-description">
        Contacter nous avec plus des information.
      </p>
      <button class="contact-button">Contact Us</button>
      <p class="copyright">© 2024 Bahoumi, zouhayr</p>
      <hr class="footer-divider" />
      <nav class="footer-nav">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3fff93fcbae2d52cf8cd7cd4d4c09316e75912668df30ce1c3d958387db1ce4d" alt="TAWJIHM3ANA logo" class="logo-image">
        <ul class="nav-links">
          <li><a href="#team">Services</a></li>
          <li><a href="#case-studies">A propos</a></li>
          <li><a href="#publications">Se Connecter</a></li>
        </ul>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/85414638c3b83e4ff5094e6a70e931b1b7887155cf90f0d30a52fe98c298203e?placeholderIfAbsent=true&apiKey=9cd7fe7bfd954773b6537fc48cf5cd61" alt="" class="decorative-image" />
      </nav>
    </div>
  </footer>