 <header class="navbar">
    <a href="#" class="logo">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3fff93fcbae2d52cf8cd7cd4d4c09316e75912668df30ce1c3d958387db1ce4d" alt="TAWJIHM3ANA logo" class="logo-image">
        <span class="logo-text">TAWJIHM3ANA</span>
    </a>
    <nav class="nav-links">
        <a href="#accueil">Accueil</a>
        <a href="#services">Services</a>
        <a href="#a-propos">A propos</a>
        <a href="#comment-participer">Comment participer ?</a>
        <a href="#contact">Contact</a>
    </nav>
    <button class="login-button" *ngIf="!isLoggedIn" routerLink="/login">Se Connecter</button>

    <div *ngIf="isLoggedIn" class="user-menu">
        <img [src]="'assets/images/' + etudiant?.imageUrl" alt="Image" class="user-avatar"  >
        <div class="dropdown-content">
          <a routerLink="user/user-dashboard">Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
</header>