<section class="recommendation-container">
    <div class="content-wrapper">
        <h1 class="main-title">
            Trouvez la voie qui vous correspond grâce à notre système de recommandation !!
        </h1>
        <h2 class="subtitle">
            Obtenez des recommandations personnalisées pour vos spécialités post-bac
        </h2>
        <div class="description">
            <ul>
                <li>Simplifiez votre choix post-bac.</li>
                <li>Passez un test rapide et personnalisé.</li>
                <li>Recevez des recommandations adaptées à votre profil.</li>
            </ul>
        </div>
        <button class="cta-button" >Commencez le test</button>
    </div>
    <div class="image-wrapper">
        <img src="assets/images/test.png" alt="Étudiant réfléchissant à son bureau">
    </div>
</section>