<app-header></app-header>

<section class="about-section">
    <div class="about-content">
        <h1>Qui sommes-nous ?</h1>
        <p>Nous sommes vos partenaires dans la réussite de votre parcours académique. Notre mission est de vous guider à travers le processus d'orientation et d'inscription dans les établissements supérieurs. Que vous soyez en quête d'une école
        qui correspond à vos ambitions ou que vous ayez besoin de conseils professionnels pour choisir la meilleure filière,
         nous sommes là pour vous accompagner à chaque étape.</p>
        <a href="#" class="cta-button">Learn More</a>
    </div>
    <div class="about-image">
        <img src="assets/images/about-us.png" alt="Social Media Expert">
    </div>
</section>

<app-main-footer></app-main-footer>