body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 10%;
    background-color: #ffffff;
    margin-top: 2.3rem;
}
.about-content {
    flex: 1;
}
.about-image {
    flex: 1;
    text-align: center;
}
.about-image img {
    max-width: 100%;
    height: auto;
}
h1 {
    color: #0E4973;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.cta-button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #E3E817;
    color: #0E4973;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.cta-button:hover {
    background-color: #d4d915;
}