
<router-outlet></router-outlet>
<!-- <section class="subscription-packages">
    <div class="container">
      <div class="package-header">
        <h2 class="title">Choix de Packs d'Inscription</h2>
        <p class="description">Choisissez parmi différents packs d'inscription pour simplifier votre processus. Paiement en ligne sécurisé et rapide.</p>
      </div>
      <div class="price-cards">
        <div class="price-card">
            <h3 class="subtitle">SCIENCE SPECIAL</h3>
            <h2 class="title">POUR BAC : PC, SM, SVT</h2>
            <p class="price">2500DH</p>
            <ul class="features">
              <li class="feature">Nos informe l'abonné des nouveautés des concours d'accès aux écoles</li>
              <li class="feature">On se charge des candidatures et leurs suivi à la place de l'abonné</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>
        <div class="price-card">
            <h3 class="subtitle">SCIENCE SPECIAL</h3>
            <h2 class="title">POUR BAC : PC, SM, SVT</h2>
            <p class="price">2500DH</p>
            <ul class="features">
              <li class="feature">Nos informe l'abonné des nouveautés des concours d'accès aux écoles</li>
              <li class="feature">On se charge des candidatures et leurs suivi à la place de l'abonné</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>
      </div>
    </div>
  </section> -->






<!-- hero section -->



  
  
  
  