
<router-outlet></router-outlet>
<!-- <section class="subscription-packages">
    <div class="container">
      <div class="package-header">
        <h2 class="title">Choix de Packs d'Inscription</h2>
        <p class="description">Choisissez parmi différents packs d'inscription pour simplifier votre processus. Paiement en ligne sécurisé et rapide.</p>
      </div>
      <div class="price-cards">
        <div class="price-card">
            <h3 class="subtitle">SCIENCE SPECIAL</h3>
            <h2 class="title">POUR BAC : PC, SM, SVT</h2>
            <p class="price">2500DH</p>
            <ul class="features">
              <li class="feature">Nos informe l'abonné des nouveautés des concours d'accès aux écoles</li>
              <li class="feature">On se charge des candidatures et leurs suivi à la place de l'abonné</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>
        <div class="price-card">
            <h3 class="subtitle">SCIENCE SPECIAL</h3>
            <h2 class="title">POUR BAC : PC, SM, SVT</h2>
            <p class="price">2500DH</p>
            <ul class="features">
              <li class="feature">Nos informe l'abonné des nouveautés des concours d'accès aux écoles</li>
              <li class="feature">On se charge des candidatures et leurs suivi à la place de l'abonné</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="recommendation-container">
    <div class="content-wrapper">
        <h1 class="main-title">
            Trouvez la voie qui vous correspond grâce à notre système de recommandation !!
        </h1>
        <h2 class="subtitle">
            Obtenez des recommandations personnalisées pour vos spécialités post-bac
        </h2>
        <div class="description">
            <ul>
                <li>Simplifiez votre choix post-bac.</li>
                <li>Passez un test rapide et personnalisé.</li>
                <li>Recevez des recommandations adaptées à votre profil.</li>
            </ul>
        </div>
        <button class="cta-button" >Commencez le test</button>
    </div>
    <div class="image-wrapper">
        <img src="assets/images/test.png" alt="Étudiant réfléchissant à son bureau">
    </div>
</section> -->

<!-- Header  -->
<!-- <header class="navbar">
    <a href="#" class="logo">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3fff93fcbae2d52cf8cd7cd4d4c09316e75912668df30ce1c3d958387db1ce4d" alt="TAWJIHM3ANA logo" class="logo-image">
        <span class="logo-text">TAWJIHM3ANA</span>
    </a>
    <nav class="nav-links">
        <a href="#accueil">Accueil</a>
        <a href="#services">Services</a>
        <a href="#a-propos">A propos</a>
        <a href="#comment-participer">Comment participer ?</a>
        <a href="#contact">Contact</a>
    </nav>
    <button class="login-button">Se Connecter</button>
</header> -->


<!-- hero section -->
<!-- <section class="tawjih-m3ana-container">
    <div class="content-wrapper">
        <div class="text-column">
            <h1 class="title">Renforcez votre avenir avec TAWJIH M3ANA</h1>
            <p class="description">
                Découvrez nos services complets et découvrez comment nous pouvons vous aider à atteindre vos objectifs.
            </p>
            <button class="cta-button" >En savoir plus</button>
        </div>
        <div class="image-column">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/52b567bec0e4ee12e30d5f76072df9c43aae8623c2392c25ba0783a0b28c4c8b" alt="Illustration représentant TAWJIH M3ANA" class="hero-image">
        </div>
    </div>
</section> -->


  
  
  
  