
<router-outlet></router-outlet>
<!-- <section class="subscription-packages">
    <div class="container">
      <div class="package-header">
        <h2 class="title">Choix de Packs d'Inscription</h2>
        <p class="description">Choisissez parmi différents packs d'inscription pour simplifier votre processus. Paiement en ligne sécurisé et rapide.</p>
      </div>
      <div class="price-cards">
        <div class="price-card">
            <h3 class="subtitle">SCIENCE SPECIAL</h3>
            <h2 class="title">POUR BAC : PC, SM, SVT</h2>
            <p class="price">2500DH</p>
            <ul class="features">
              <li class="feature">Nos informe l'abonné des nouveautés des concours d'accès aux écoles</li>
              <li class="feature">On se charge des candidatures et leurs suivi à la place de l'abonné</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>
        <div class="price-card">
            <h3 class="subtitle">SCIENCE SPECIAL</h3>
            <h2 class="title">POUR BAC : PC, SM, SVT</h2>
            <p class="price">2500DH</p>
            <ul class="features">
              <li class="feature">Nos informe l'abonné des nouveautés des concours d'accès aux écoles</li>
              <li class="feature">On se charge des candidatures et leurs suivi à la place de l'abonné</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="recommendation-container">
    <div class="content-wrapper">
        <h1 class="main-title">
            Trouvez la voie qui vous correspond grâce à notre système de recommandation !!
        </h1>
        <h2 class="subtitle">
            Obtenez des recommandations personnalisées pour vos spécialités post-bac
        </h2>
        <div class="description">
            <ul>
                <li>Simplifiez votre choix post-bac.</li>
                <li>Passez un test rapide et personnalisé.</li>
                <li>Recevez des recommandations adaptées à votre profil.</li>
            </ul>
        </div>
        <button class="cta-button" >Commencez le test</button>
    </div>
    <div class="image-wrapper">
        <img src="assets/images/test.png" alt="Étudiant réfléchissant à son bureau">
    </div>
</section> -->




<!-- hero section -->



  
  
  
  