<app-header></app-header>
<div class="container mt-5">
  <div class="header">
    <h1>Tous les établissements</h1>
    <button class="btn btn-outline-primary" [routerLink]="['']" >Retour</button>
  </div>
  
  <div class="search-filter-container mt-4">
    <input type="text" placeholder="Rechercher" class="form-control search-input" [(ngModel)]="searchQuery" (keyup)="onSearchChange()">
    <select class="form-select filter-select"  [(ngModel)]="selectedUniversiteId" (change)="onUniversiteChange()" >
      <option value="">Universite</option>
      <option *ngFor="let universite of universites" [value]="universite.id" >
        {{ universite.nomUniversite }}
      </option>
    </select>
    <select class="form-select filter-select" [(ngModel)]="selectedType" (change)="onTypeChange()">
      <option value="">Type d'établissement</option>
      <option *ngFor="let type of establissementTypes" [value]="type">
        {{ type }}
      </option>
    </select>
    <select class="form-select filter-select">
      <option value="">Spécialité</option>
      <!-- Add specialty options here -->
    </select>
  </div>
  
  <div class="establishments-grid mt-5">

    <article class="establishment-card" *ngFor="let etablissement of etablissements" [routerLink]="['/etablissement-details', etablissement.id]" >
      <img
      [src]="'assets/images/' + etablissement.imageUrl" 
        alt="Université mohammed vi polytechnique"
        class="establishment-image"
      />
      <div class="card-body">
        <h2 class="establishment-name">{{ etablissement.nomEtablissement }}</h2>
        <p class="establishment-description">{{ etablissement.localisation }}</p>
      </div>
    </article>
  </div>
  
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</div>

<app-footer></app-footer>