<section class="subscription-packages">
    <div class="container">
      <div class="package-header">
        <h2 class="title">Choix de Packs d'Inscription</h2>
        <p class="description">Choisissez parmi différents packs d'inscription pour simplifier votre processus. Paiement en ligne sécurisé et rapide.</p>
      </div>
      <div class="price-cards">
        <div *ngFor="let pack of packs" class="price-card">
            <h3 class="subtitle">{{ pack.typePack }}</h3>
            <h2 class="title">Pour Bac : {{ pack.packFilieres }}</h2>
            <p class="price">{{ pack.prix }}DH</p>
            <ul class="features">
              <li class="feature">{{ pack.contenu }}</li>
              <li class="feature">{{ pack.dateLimit }}</li>
            </ul>
            <button class="cta-button">S'inscrire</button>
        </div>

      </div>
    </div>
  </section>