.table-responsive {
    overflow-x: auto; 
    overflow-y: auto; 
    max-height: 400px; 
}

.h3{
    color: #0E4973;
    font-size: 2rem;
    font-weight: 600;
}

.table {
    min-width: 800px; 
}

.table th, .table td {
    white-space: nowrap; 
}


.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.011);
}

.card-header {
    background-color: #ffffff;
}

.card-body {
    font-size: 14px; 
}

.table th, .table td {
    vertical-align: middle;
    padding: 10px; 
}

.table img {
    max-width: 80px; 
    height: auto;
    border-radius: 5px;
}

.table thead th {
    background-color: #ffffff;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-edit  {
    color: #0E4973;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-delete {
    color: #e74a3b;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-create {
    color: #0E4973; 
    font-size: 1.5rem; 
    cursor: pointer;
}

.btn {
    font-size: 12px; 
    padding: 0.5rem 1.4rem;
}
